# 파이썬 기초
## 마크다운

마크다운 입니다.

In [7]:
# 주석 : 컴퓨터 프로그래밍 언어에서 어떠한 내용 작성을 작성하고 싶을떄 쓰는 것
# comment
!python --version

Python 3.8.5

1 + 2

In [6]:
1+2
# 에디터 모드 : 실제코드 작성

3

## 들여쓰기

* 파이썬은 다른 언어처럼 {} 표기로 로직의 블록과 가독성을 구분하지 않음
* 들여쓰기(indentation)로 로직의 블록과 가독성을 유지 ==> **문법적인 강제사항**
* 코드 블럭을 구성하기 위해 if, for, class, def 등 끝에 :(콜론) 다음의 줄(line)부터는 무조건 들여쓰기
* 들여쓰기의 방법은 한칸, 두칸, 4칸, 탭 등 여러가지 방식이 있음
* 중요한 것은 같은 블록 내에서는 들여쓰기 칸 수가 같아야 함
* 공백과 탭을 섞어쓰면 안 되고, Tab 타이핑을 권장

```
for i in range(10): 
→→→→print(i)
→→→→print(i + 1)
```

위와같이 4칸의 들여쓰기를 지켜야 한다. 지키지 않으면 **IndentationError: expected an indented block** 에러를 만난다.

In [9]:
for i in range(4):
    print(i)

0
1
2
3

## 들여쓰기 실습

아래 코드 에러를 수정하세요.

In [12]:
for i in range(10):
    print(i)
    print(i + 1)

0
1
1
2
2
3
3
4
4
5
5
6
6
7
7
8
8
9
9
10

## 주석

* 주석은 '#'으로 표시
```python
# 이것은 한 줄 주석입니다.
```
* 여러줄 주석은 홀따옴표 각 3개를 양쪽에 감싸준다.
```python
''' 
이것은 주석입니다.
''' 
```

## 주석 실습

Q. 아래 코드를 주석처리하여 출력이 안되게 하세요.

In [14]:
# print('Hello, world!')

Q. 아래 코드를 주석처리 해서 에러를 제거하세요.

In [16]:
#이것은 프린트 문입니다. 
#프린트 문은 문자열을 출력합니다. 
#여기서는 Hello World를 출력합니다.

## Data type

### 1. 숫자형(Numeric type)

24 + 15

24 - 15

15 - 24

In [17]:
24 + 15

39

In [20]:
# 24 - 15

24 // 15

1

In [24]:
24 ** 15

504857282956046106624

### Float 실수형

2400 / 500

In [27]:
type(500)

int

### 내림 값

2400 // 500

In [28]:
2400 // 500

4

### 나머지 값

2400 % 500

In [29]:
2400 % 500

400

### 연산의 순서 ()

(2400 // 500) * 500 + (2400 % 500)

In [35]:
(2400 // 500) * (500 + (2400 % 500))

3600

### 제곱

4 ** 3

### 2. 논리형 (Boolean type)

4 < 9

In [36]:
4 < 9

True

In [42]:
0 == False

True

4 > 9

In [37]:
4 > 9

False

4 == 9

In [47]:
4 == 9

False

4 != 9

In [48]:
4 != 9

True

### 거짓 혹은 참인 경우

4 > 9 or 3 > 2

In [49]:
4 > 9 or 3 > 2

True

### 거짓의 반대인 경우

4 > 9 and 3 > 2

In [50]:
4 > 9 and 3 > 2

False

### True는 1

int(True)

In [52]:
int(True)

1

### False는 0

int(False)

In [53]:
int(False)

0

### 3. 문자열형(String type)

In [55]:
# "안녕하세요!"
# "반갑습니다"
# "반갑습니다"
# "반갑습니다"
# "반갑습니다"
# "반갑습니다"

In [56]:
'반갑습니다!'

'반갑습니다!'

In [59]:
"문자열은 홑 따옴표(')로 감싸세요!"

"문자열은 홑 따옴표(')로 감싸세요!"

In [64]:
'문자열은 홑 따옴표 (\')로 감싸세요!'

"문자열은 홑 따옴표 (')로 감싸세요!"

In [65]:
"문자열은 홑 따옴표 (')로 감싸세요!"

"문자열은 홑 따옴표 (')로 감싸세요!"

In [69]:
'안녕하세요! \n 반갑습니다'

'안녕하세요! \n 반갑습니다'

In [72]:
# 가능하지만 권장하지 않습니다
print('안녕하세요! \n반갑습니다')

안녕하세요!
반갑습니다

In [49]:
# 문자열이 여러 줄인 경우
## 의도치 않는 한줄이 추가로 출력
print('''
안녕하세요!
반갑습니다.
''')

안녕하세요!
반갑습니다.

In [73]:
print('''
    안녕하세요
    반갑습니다
    ''')

안녕하세요
반갑습니다

In [74]:
print('''안녕하세요!
반갑습니다.''')

안녕하세요!
반갑습니다.

In [76]:
# 구글 파이썬 코딩스타일
# 파이썬은 가독성!!!!
print('안녕하세요!\n'
      '반갑습니다.\n'
      '네안녕하세요')

안녕하세요!
반갑습니다.
네안녕하세요

In [52]:
# 문자열과 연산기호

In [78]:
'파이썬' + ' ' + '프로그래밍'

'파이썬 프로그래밍'

In [79]:
'파이썬,' + ('굿!' * 10)

'파이썬,굿!굿!굿!굿!굿!굿!굿!굿!굿!굿!'

In [55]:
len('파이썬 프로그래밍 쉽네요!!')

15

In [81]:
a = '파이썬 프로그래밍 쉽네요!'

In [ ]:
a.startwith('파이썬')

In [83]:
a.startswith('자바')

False

In [58]:
a.endswith('!')

True

In [59]:
a.endswith('어려워요!')

False

In [60]:
a.replace('파이썬', 'Python')

'Python 프로그래밍 쉽네요!'

In [61]:
'Python'.upper()

'PYTHON'

In [21]:
'Python'.lower()

'python'

In [22]:
# join 메소드 : 각 항목에 join 함수를 호출한 값을 넣는 함수
'/'.join('Python')

'P/y/t/h/o/n'

In [86]:
'&'.join('Python')

'P&y&t&h&o&n'

https://docs.python.org/3/library/stdtypes.html#string-methods

### 데이터형 에러(Data type Error)

type(350)

In [1]:
type(350)

int

type('350')

In [2]:
type('350')

str

### type error
### 다른 타입의 객체간의 연산을 할 수 없다

'350' + 350

In [5]:
'350' + 350

TypeError: can only concatenate str (not "int") to str

### 데이터형 변환(Data type Converting)

int('350') + 350

In [6]:
int('350') + 350

700

add = int('350') + 350 \
add

In [7]:
add = int('350') + 350

print(add)

700

In [9]:
add_2 = '350' + str(350)
print(type(add_2))

<class 'str'>

- 파이썬은 변수 선언을 할 때 해당 변수의 데이터형을 표기하지 않는다
- 프로그램이 실행할 때 변수에 대한 데이터형이 변환되는 것을 '동적 타이핑(Dynamic Typing)이라 부른다
- 사용자에게 프로그램 작성의 자유도를 주지만, 프로그램을 실행하기 전에 오류를 확인할 수 없다

### 변할 수 없는(Immutable) vs 변할 수 있는(Mutable)

hello = '안녕하세요!'

In [10]:
hello = '안녕하세요'

hello

In [11]:
hello

'안녕하세요'

id(hello)

In [12]:
id(hello)

2383271857680

hello = '반갑습니다!'

In [13]:
hello = '반갑습니다'

hello

In [14]:
id(hello)

2383270651056

### hello라는 변수의 값은 변할 수 없으므로, 새로운 hello를 생성한다
### 전자 hello와 후자 hello는 서로 다른 객체이다

id(hello)

In [ ]:
id

hello_list = ['안녕하세요']

In [15]:
hello_list = ['안녕하세요']

hello_list

In [16]:
hello_list

['안녕하세요']

id(hello_list)

In [17]:
id(hello_list)

2383270920960

In [37]:
hello_list[0] = '반갑습니다!'

In [19]:
hello_list[0] = '반갑습니다!'

hello_list

In [20]:
hello_list

['반갑습니다!']

id(hello_list)

In [21]:
id(hello_list)

2383270920960

- Immutable
    - 숫자형
    - 문자열
    - 튜플형
    - 바이트형
- Mutable
    - 리스트형
    - 사전형
    - 집합형
    - 바이트 배열형

In [32]:
hello = '안녕하세요!'
a = '안녕하세요!'

In [25]:
print(id(hello))

2383272155712

In [26]:
print(id(a))

2383272155600

In [31]:
a == hello

False

In [23]:
print(id(a) == id(hello))

False

### Q1. 

#### 문자열 나누기

홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동씨의 주민등록번호를 연월일(YYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.

In [40]:
pin = '881120-1068234'

split_pin = pin.split('-')
yymmdd = split_pin[0]

pin_other = split_pin[1]
pin_other

'1068234'

### Q2.

#### 문자열 인덱싱

주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.

In [ ]:
pin = "881120-1068234"

In [ ]:
split_pin = pin.split('-')

In [42]:
sex_num = split_pin[1][0]

print(sex_num)

1

### Q3.

#### 문자열 바꾸기1

다음과 같은 문자열이 있다.

>a:b:c:d

문자열의 replace 함수를 이용하여 위 문자열을 다음과 같이 고치시오.

>a#b#c#d

In [46]:
data = 'a:b:c:d'

new_data = data.replace(':', '#')
print(new_data)

a#b#c#d

### Q4.

#### 문자열 바꾸기2

다음과 같은 문자열이 있다.

>a:b:c:d

문자열의 split와 join 함수를 이용하여 위 문자열을 다음과 같이 고치시오.

>a#b#c#d

(힌트. 문자열을 ":"으로 split하면 리스트 자료형이 리턴된다. 리스트 자료형은 문자열과 마찬가지로 join이 가능하다.)

In [48]:
data = 'a:b:c:d'

new_data = data.split(':')
'#'.join(new_data)

'a#b#c#d'