### 데이터 구조
- 데이터를 활용하는 방식에 따라 좀 더 효율적으로 이용할 수 있도록 컴퓨터에 저자하는 여러 방법

### 1. 리스트형(List type)
- 하나의 집합 단위로 동일한 변수에 순차적으로 저장하고, 여러 내장 함수를 통해 다양하게 활용 가능

pockets = [4, 6, 1, 9]

In [11]:
pockets = [4,6,1,9]

pockets

In [3]:
type(pockets)

list

type(pockets)

In [4]:
type(pockets)

list

#### 인덱스
pockets[0]

In [5]:
pockets[0]

4

pockets[-1]

In [7]:
pockets[-1]

9

len(pockets)

In [10]:
len(pockets)

6

#### 인덱스 범위를 초과하는 접근
pockets[5]

In [14]:
pockets[4]

IndexError: list index out of range

#### 값 변경
print(id(pockets))

pockets[0] = 5

In [20]:
print(id(pockets))

pockets[3] = 5

pockets

1890626218176

[5, 5, 5, 5]

pockets

In [21]:
pockets

[5, 5, 5, 5]

id(pockets)

In [17]:
id(pockets)

1890626218176

#### 리스트형 데이터 변경하기

#### append 함수
#### 리스트 끝에 값 추가하기

pockets.append(7)

In [23]:
pockets.append(7)

pockets

In [26]:
len(pockets)

5

#### remove 함수
#### 리스트 내의 특정 값을 삭제
#### 인덱스가 아니라 '값' 이다

pockets.remove(1)

pockets

In [30]:
pockets.remove(5)

In [32]:
pockets

[5, 5, 7]

In [33]:
pockets.append('안녕하세요')
pockets

[5, 5, 7, '안녕하세요']

In [34]:
pockets.remove('안녕하세요')
pockets

[5, 5, 7]

In [35]:
pockets

[5, 5, 7]

#### insert 함수
#### 인덱스를 사용하여 특정 위치에 값을 삽입하는데 사용
#### (인덱스, 값)

pockets.insert(1, 3)

pockets

In [37]:
pockets.insert(1, 3)

In [38]:
pockets

[5, 3, 5, 7]

#### pop 함수
#### 인덱스를 사용하여 특정 위치의 값을 제거하는데 사용
#### (인덱스 , 값)

pockets.pop(3)

pockets

In [40]:
pockets.pop()

7

In [42]:
pockets.pop(0)

5

In [43]:
pockets

[3, 5]

#### 리스트형 데이터 자르기

#### 데이터 자르기, 슬라이싱
#### 변수명[start : end]

pockets = [5, 3, 6, 7]

pockets[1:3]

In [52]:
pockets = [5, 3, 6, 7, 8, 9]
# start 인덱스 부터 시작해서 END 이전의 원소까지 가져온다.
pockets[1:3]

[3, 6]

pockets[:3]

In [47]:
pockets[:3]

[5, 3, 6]

pockets[-2:]

In [55]:
pockets[-2:]

[8, 9]

#### 리스트형 복사하기

pockets

In [56]:
pockets

[5, 3, 6, 7, 8, 9]

pockets_copy = pockets

In [57]:
pockets_copy = pockets

pockets_copy.append(1)

In [59]:
pockets_copy.append(1)

pockets_copy

In [60]:
pockets_copy

[5, 3, 6, 7, 8, 9, 1]

pockets

In [61]:
pockets

[5, 3, 6, 7, 8, 9, 1]

- 원본 객체 pockets의 값도 변했다.
- pockets와 pockets_copy는 같은 메모리 주소를 갖는다.

id(pockets)

In [62]:
id(pockets)

1890642923776

id(pockets_copy)

In [63]:
id(pockets_copy)

1890642923776

#### 우리가 원하는 의미의 복사(?)를 해보자

pockets_real_copy = pockets[:]

In [64]:
pockets_real_copy = pockets[:]

pockets_real_copy.append(9)

In [65]:
pockets_real_copy.append(9)

pockets_real_copy

In [66]:
pockets_real_copy

[5, 3, 6, 7, 8, 9, 1, 9]

pockets

In [67]:
pockets

[5, 3, 6, 7, 8, 9, 1]

id(pockets)

In [68]:
id(pockets)

1890642923776

id(pockets_real_copy)

In [69]:
id(pockets_real_copy)

1890643081024

#### 리스트형 데이터 합치기 & 확장

a = [1, 2, 3]

b = [4, 5, 6]

c = a + b

In [70]:
a = [1, 2, 3]

b = [4, 5, 6]

c = a + b

a

In [71]:
c

[1, 2, 3, 4, 5, 6]

b

c

id(a)

In [72]:
id(a)

1890643090944

id(b)

In [73]:
id(b)

1890642924160

id(c)

In [74]:
id(c)

1890642921920

#### 객체를 생성하지 않고 a 리스트에 b값을 그대로 붙여넣기
#### extend 함수

a.extend(b)

In [75]:
a.extend(b)

In [79]:
import copy

a

In [80]:
new_a = copy.deepcopy(a)

In [83]:
id(new_a)

1890627136832

In [84]:
id(a)

1890643090944

In [76]:
c = a + b

[1, 2, 3, 4, 5, 6]

id(a)

In [78]:
b

[4, 5, 6]

#### 리스트 삭제

- del() 함수
- pop()과 차이점 : 해당 인덱스 값을 반환하지 않는다.

a

In [86]:
del a

In [88]:
a =[1,2,3,4,5,6]

a.pop(-1)

del a[0]

In [89]:
del a[0]

a

In [90]:
a

[2, 3, 4, 5, 6]

del a[1:3]

In [91]:
del a[1:3]

a

In [92]:
a

[2, 5, 6]

del a[:]

a

del a

a

### 리스트형의 다양한 쓰임

- 서로 다른 자료형을 넣을 수 있다.

programming = ['Python', 'Java' , 'C++']

In [93]:
programming = ['Python', 'Java' , 'C++']

programming

In [94]:
programming

['Python', 'Java', 'C++']

programming.append(100)

programming.append(3.14)

In [95]:
programming.append(100)

programming

In [96]:
programming

['Python', 'Java', 'C++', 100]

#### 중첩 리스트
- 2차원 행렬

nest = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [97]:
nest = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

nest

In [98]:
nest

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

nest[0]

In [102]:
nest[2]

[7, 8, 9]

nest[0][0]

In [106]:
nest[0][3]

IndexError: list index out of range

#### 문자열 인덱스

word = '파이썬 문자열 인덱스'

In [107]:
word = '파이썬 문자열 인덱스'

word[0]

In [109]:
word[2]

'썬'

word[-1]

In [110]:
word[-1]

'스'

word[20]

In [111]:
word[20]

IndexError: string index out of range

#### 문자열 일부추출

word[:3]

In [112]:
word[:3]

'파이썬'

word[4:]

In [113]:
word[4:]

'문자열 인덱스'

word[-3:]

In [114]:
word[-3:]

'인덱스'

#### 문자열 인덱스로 값 변경

word[-3:] = '추출'

In [115]:
word[-3:] = '추출'

TypeError: 'str' object does not support item assignment

In [116]:
word

'파이썬 문자열 인덱스'

- 문자열은 Immutable한 자료형이기 때문에 문자열 자체를 변경 할 수 없다.

#### 동일한 객체에 문자열을 바꾸는 방법은 존재하지 않는다.
#### 새로운 객체를 생성해야 한다.
#### replace() 함수를 쓴다.

word

id(word)

word = word[:-3] + '추출'

In [117]:
word = word[:-3] + '추출'

word

In [118]:
word

'파이썬 문자열 추출'

word.replace('인덱스', '추출')

In [119]:
word.replace('인덱스', '추출')

'파이썬 문자열 추출'

word

In [120]:
word

'파이썬 문자열 추출'

#### 리스트 비어있는지 확인

empty_list = []

In [121]:
empty_list = []

In [123]:
empty_list[0]

IndexError: list index out of range

type(empty_list)

In [124]:
type(empty_list)

list

len(empty_list)

In [125]:
len(empty_list)

0

empty_list_2 =  list()

In [127]:
empty_list_2 = list()

type(empty_list_2)

In [128]:
type(empty_list_2)

list

len(empty_list_2)

In [129]:
len(empty_list_2)

0

### Q1.

#### 리스트 조인

['Life', 'is', 'too', 'short'] 라는 리스트를 Life is too short라는 문자열로 만들어 출력해 보자.

(힌트. 문자열의 join 함수를 이용해 보자.)

In [131]:
data = ['Life', 'is', 'too', 'short']

new_data = ' '.join(data)


### Q2. 
#### 리스트 정렬

[1, 3, 5, 4, 2]라는 리스트를 [5, 4, 3, 2, 1]로 만들어보자.

(힌트. 리스트의 내장함수인 sort와 reverse를 활용해 보자.)

In [134]:
data = [1, 3, 5, 4, 2]

data.sort(reverse=False)

In [137]:
data

[1, 2, 3, 4, 5]

In [138]:
sorted(data, reverse=True)

[5, 4, 3, 2, 1]

## 튜플형(Tuple)

- 변경할수 없는(Immutable) 리스트형
- 리스트는 일반적으로 '동일한' 자료형으로 이루어진 항목들을 리스트에 담아서 순차적으로 추출할 때 사용
- 튜플은 '서로다른 종류'의 데이터형으로 이루어진 항목들을 변수에 바로 풀어쓰는 언패킹 혹은 색인을 매기는 용도

#### 튜플 생성

movie = '슈퍼맨2', 1980, '배트맨', 1989

In [140]:
movie = '슈퍼맨2', 1980, '배트맨', 1989

movie

In [142]:
type(movie)

tuple

movie[1]

In [143]:
movie[1]

1980

movie[-2:]

In [144]:
movie[-2:]

('배트맨', 1989)

#### 튜플 2번째 값 변경 시도(형 오류발생)

movie[1] = 1982

In [145]:
movie[1] = 1982

TypeError: 'tuple' object does not support item assignment

- 튜플 자체는 Immutable하지만, 튜플의 항목에는 변할 수 있는(Mutable)한 자료형이 포함될 수 있다.

t2 = [1,2,3], [4,5,6]

In [150]:
t2 = [1,2,3], [4,5,6]

t2

In [151]:
t2

([1, 2, 3], [4, 5, 6])

t2[0]

In [152]:
t2[0]

[1, 2, 3]

t2[0] = [7, 8, 9]

In [153]:
t2[0] = [7, 8, 9]

TypeError: 'tuple' object does not support item assignment

- 튜플의 항목인 리스트 안의 값을 변경하는 것은 가능하다

t2[0][0] = 7

In [156]:
t2[0][0] = 7

t2

In [158]:
t2[0][2] = 100
t2

([7, 2, 100], [4, 5, 6])

#### 패킹, 언패킹

#### 튜플 생성(패킹)

movie = '슈퍼맨2', 1980, '배트맨', 1989

In [159]:
movie = '슈퍼맨2', 1980, '배트맨', 1989

a, b, c, d = movie

In [161]:
a, b, c, d = movie

a

In [164]:
# 언패킹 # 패킹
a
b
c

'배트맨'

b

c

d

li = [1, 2, 3, 4]

In [165]:
li = [1, 2, 3, 4]

a, b, c, d= li

In [166]:
a, b, c, d= li

a, b, c, d, e = li

In [167]:
a, b, c, d, e = li

ValueError: not enough values to unpack (expected 5, got 4)

In [168]:
li

[1, 2, 3, 4]

a, b, c, _ = li

In [ ]:
a, b, c, _ = li

a

In [169]:
a, b, c, _ = li

b

c

d

#### 튜플 -> 리스트

movie_list = list(movie)

In [181]:
list(movie)

['슈퍼맨2', 1980, '배트맨', 1989]

In [182]:
empty_list = list()
empty_list

[]

In [171]:
movie_list = list(movie)

type(movie_list)

In [172]:
type(movie_list)

list

movie_list

In [173]:
movie_list

['슈퍼맨2', 1980, '배트맨', 1989]

tuple(movie_list)

In [174]:
tuple(movie_list)

('슈퍼맨2', 1980, '배트맨', 1989)

## 집합형(Set)

lang = {'java', 'java', 'python', 'C++', 'python'}

In [175]:
lang = {'java', 'java', 'python', 'C++', 'python'}

lang

In [178]:
type(lang)

set(lang)

{'C++', 'java', 'python'}

In [184]:
list = [1,2,3]

In [189]:
list(movie)

['슈퍼맨2', 1980, '배트맨', 1989]

'java' in lang

In [196]:
if 'java' in lang:
    print("java 존재함")
    
    
    
test_list = [2,3,4,5,6,6,1]

java 존재함

'javascript' in lang

In [191]:
'javascript' in lang

False

a = 'asdfascadsvaserv'

b = 'asdfawsef'

In [192]:
a = 'asdfascadsvaserv'

b = 'asdfawsef'

set(a)

In [193]:
set(a)

{'a', 'c', 'd', 'e', 'f', 'r', 's', 'v'}

set(b)

In [194]:
set(b)

{'a', 'd', 'e', 'f', 's', 'w'}

set(a) - set(b)

In [200]:
if 1 in set(test_list):
    print("1 있다")

1 있다

tuple({1, 2, 3, 'asdfasdf', 1, 2, 3})

In [201]:
set(a) - set(b)

{'c', 'r', 'v'}

aa = [1, 2, 3, 4, 5, 1, 2, 3, 4]

### Q1. 
#### 집합의 중복

중복을 허용하지 않는 집합 자료형의 특징을 이용하여 다음 a 리스트에서 중복된 숫자들을 제거해 보자.



a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]

In [205]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]

new_a = set(a)

print(list(new_a))

[1, 2, 3, 4, 5]

### Q2
비어있는 set을 초기화해보자

In [207]:
empty_set = set()

empty_set

set()

### 딕셔너리

- 전체 항목이 정렬되지 않는 키(key)와 값(value)의 쌍으로 구성된 집합
- 이름" = "홍길동", "생일" = "몇 월 며칠" 
- people이라는 단어에 "사람", baseball이라는 단어에 "야구"라는 뜻이 부합되듯이 딕셔너리는 Key와 Value라는 것을 한 쌍으로 갖는 자료형이다. 예컨대 Key가 "baseball"이라면 Value는 "야구"
- {Key1:Value1, Key2:Value2, Key3:Value3, ...}

balls = {'red' : 4, 'blue' : 3, 'green' : 5}

In [209]:
# 사전 
# 어떤 걸 찾으면 그것에 대한 정보

# 어떤 KEY를 찾으면 해당 key에 대한 value찾을 수 있는 자료구조

balls = {'red' : 4, 'blue' : 3, 'green' : 5}

balls = {'red' : 4, 'blue' : 3, 'green': 5}

type(balls)

dict

balls

In [210]:
balls

{'red': 4, 'blue': 3, 'green': 5}

type(balls)

len(balls)

In [211]:
len(balls)

3

### 항목 추가

balls['black'] = 1

In [212]:
# balls['black'] = 1

balls['black'] = 1

balls

In [213]:
balls

{'red': 4, 'blue': 3, 'green': 5, 'black': 1}

del balls['green']

In [214]:
del balls['green']

balls

In [215]:
balls

{'red': 4, 'blue': 3, 'black': 1}

balls['black'] = 3

In [216]:
balls['black'] = 3

balls

In [217]:
balls

{'red': 4, 'blue': 3, 'black': 3}

balls.keys()

In [221]:
for item in balls.keys():
    print(item)

red
blue
black

list(balls.keys())

In [223]:
list(balls.keys())[]

'red'

In [230]:
list(balls.keys())[2]

'black'

sorted(balls.keys())

In [233]:
sorted(balls.keys())

['black', 'blue', 'red']

balls.values()

In [234]:
balls.values()

dict_values([4, 3, 3])

list(balls.values())

In [236]:
list(balls.values())[0]

4

'blue' in balls

In [239]:
'yellow' in balls

False

'white' not in balls

In [240]:
'white' not in balls

True

### Q1.
다음 표를 딕셔너리로 만드세요.

항목	 |   값  
name	홍길동  
birth	1128  
age	     30

In [241]:
data = { 'name': '홍길동', 'birth': 1128, 'age': 30}

In [242]:
data

{'name': '홍길동', 'birth': 1128, 'age': 30}